* { 
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



.container {
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
}


.form  {
     text-align: center;
     width: 400px;
     padding: 10px;
     background-color:rgb(212, 201, 201);
     border-radius: 10px;
}

.form__title {
    margin: 15px;
    background-color:rgb(114, 111, 111);
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    color: black;
    max-width: 100%;
    border-radius: 10px;
}

.form .form-group input {
    width: 300px;
    margin: 5px;
    padding: 8px;
    border-radius: 7px;
    outline: none;
    border: none;
    font-weight: bold;
}

.btn {
    width: 100px;
    height: 20px;
    padding: 8px;
    border-radius: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: royalblue;
    color: white;
    font-weight: bold;
}

.btn-primary-outlined {
 /* outline: white; */
 /* outline-style: solid; */
 border: 2px solid royalblue;
 background-color: transparent;
 color:white;
 transition: 0.8s;
}
.btn-primary-outlined:hover{
    /* outline: white; */
    /* outline-style: solid; */
    background-color: royalblue;
    border: 2px solid white; 
     
   }


.btn-danger {
    background-color:saddlebrown;
    color: white;
    font-weight: bold;
}

.items {
    padding: 10px;
    /* background: red; */
    margin: 10px;
}

.items span {
    padding: 10px;
}

span::after {
    content: " | ";
}
.items div{
    margin: 5px;
    background: black;
    color: white;
    padding: 5px;

}